
<h2>Home</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus sed lacus pharetra scelerisque. In ut sem tincidunt erat mattis tristique. Sed et lacus rhoncus leo semper venenatis at vel nisl. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ut iaculis lorem. Quisque auctor eros quis scelerisque finibus. Pellentesque lectus ex, placerat vitae blandit a, aliquam sed est. Nullam ultricies blandit efficitur.</p>

<ul>
  <li><%= link_to '12 lizards', lizards_path(:number => 12) %></li>
  <li><%= link_to '444 lizards', lizards_path(:number => 444) %></li>
  <li><%= link_to '9672 lizards', lizards_path(:number => 9672) %></li>
</ul>
